# Rust
# Cargo.lock 
debug/
target/
**/*.rs.bk
*.pdb

# IDE files
# .vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.temp

# Local configurations
.env
.env.local

# Profiling files
*.profraw

# Generated images and signal files
*.png
*.wav
*.flac
*.wavs
*.iqw
