# Rust
# Cargo.lock 
debug/
target/
**/*.rs.bk
*.pdb

# IDE файлы
# .vscode/
.idea/
*.swp
*.swo
*~

# OS файлы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp

# Локальные конфигурации
.env
.env.local

# Файлы профилирования
*.profraw